/*스탑워치*/
.main-container .stopwatch-box {
    margin: 20px 0 0 25px;
    width: 90%; height: 70px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.main-container .stopwatch-box div {
    display: inline-block;
}
.main-container  .stopwatch-box button {
    border: none; background-color: rgba(0, 0, 0, 0);
}
.main-container .stopwatch-box button:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.2s;
}

.main-container .time {
    margin: 20px 0 0 60px;
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10px;
}

.main-container .fa-icon {
    margin: 0 20px;
}
.main-container .chart {
    background-color: white;
}
.main-container .stopwatch-box button:first-child {
    margin-left: 50px;
}
.main-container .fa-icon.fa-play {
    width: 20px; height: 20px;
}
.main-container .fa-icon.fa-pause {
    width: 20px; height: 20px;
}
.main-container .fa-icon.fa-stop {
    width: 20px; height: 20px;
    color: #CE0018;
}
/*스탑워치*/

/*일일 요악*/
.day-total-num {
    margin: 50px 0 0 25px;
    width: 90%; height: 95px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #001D6E;
    color: white;
}
.day-total-num p {
    margin: 27px 45px;
    display: inline-block;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.day-total-num p > span {
    margin-left: 5px;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.charts {

    margin-left: 25px; margin-top: 40px;
}

.charts div {
    display: inline-block;
}

.charts > .chart {
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 130px;
    height: 200px;
}

.charts > .chart:nth-child(2) {
    margin: 0 70px;
}

.chart > p {
    padding-top: 10px;
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.chart > p + div {
    margin-top : 10px;
}

.charts .chart svg {
    width: 130px;
}

.charts .apexcharts-canvas {
    width: 130px;
}

.apexcharts-datalabels {
    display: none;
}
/*일일 요약*/

/*분석*/
.analysis-container {
    margin:45px 0 0 25px;
}
.analysis-container > p {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.analysis-box {
    display: flex;
    overflow: hidden;
    width: 94%; height: 360px;
    margin-top: 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.analysis-box > div:first-child {
    width: 50%;
}

.danger_num {
    width: 100%;
    height: 80px;
    margin-top: 28px; margin-left: 18px;
    background-color: #001D6E;
    color: white; border-radius: 5px;
}
.danger_num > p {
    margin-left: 35px; padding-top: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.danger_num span {
    margin-left: 5px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.807%;
}
.analysis > p {
    margin-left: 18px; margin-top: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.analysis-box .text {
    margin-left: 18px; margin-top: 10px;
    font-size: 16px;
    width: calc(100% - 50px); height: 125px;
    padding: 20px 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.analysis-container .chart-box {
    position: relative;
    left: 30px; top: 28px;
    border-radius: 5px;
    padding: 12px; 
    height: 273px;
    background-color: #001D6E;
}
.analysis-container .chart {
    width: 200px; height: 273px;
}
.analysis-container .apexcharts-canvas {
    width: 200px;
}
.analysis-container  .chart svg {
    width: 200px;
}
/*분석*/

/*주간 분석*/
.week-container {
    margin:45px 0 0 25px;
}
.week-container > p {
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.week-container .chart-box {
    overflow: hidden;
    margin-top: 10px;
    width: 94%;
    background-color: #001D6E;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 300px;
}
.week-container .chart {
    overflow: hidden;
    border-radius: 2px;
    margin:15px auto;
    width: 500px;
}
/*주간 분석*/

/*착용시간 분석*/
    .totalwear-container {
        margin:45px 0 0 25px;
    }
    .totalwear-container > p {
        font-family: "Noto Sans KR";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .totalwear-container .contents {
        margin-top: 10px;
        background-color: #fff;
        width: calc(94% - 40px);
        padding: 40px 30px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .totalwear-container .total-sub {
        background-color: #001D6E;
        color: #fff;
        padding: 20px 50px;
        border-radius: 10px;
    }
    .totalwear-container .total-sub p{
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
    }
    .totalwear-container .total-sub p:last-child {
        margin-left: 20px;
    }
    .totalwear-container .total-sub p > span {
        font-size: 28px;
        font-weight: 700;
    }

    .totalwear-container .content {
        margin-left: 45px; margin-top: 30px;
        display: flex;
    }

    .totalwear-container .wear-time {
        margin-top: 25px;
    }

    .totalwear-container .wear-time p {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    .totalwear-container .wear-time div:last-child {
        margin-top: 50px;
    }
    .totalwear-container .wear-time p:last-child {
        font-size: 28px;
        font-weight: 700;
    }

    .totalwear-container .chart {
        overflow: hidden;
        background-color: #001D6E;
        margin-left: 50px;
        width: 200px;
        height: 250px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .totalwear-container .chart > div {
        margin: 15px 10px;
        width: 90%;
        border-radius: 5px;
        background-color: #fff;
    }

    .totalwear-container .apexcharts-legend {
        top : 180px !important; 
    }
/*착용시간 분석*/

/*시간별 틀어짐*/
    .twist-analysis-container {
        margin:45px 0 0 25px;
    }

    .twist-analysis-container p {
        font-family: "Noto Sans KR";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .twist-analysis-container .twist-time {
        overflow: hidden;
        margin-top: 10px;
        width: 94%; height: 400px;
        background-color: #001D6E;
        border-radius: 5px;
    }

    .twist-analysis-container .twist-time > div {
        margin: 20px 12px;
        background-color: #fff;
        width: 95%;
        border-radius: 5px;
    }
/*시간별 틀어짐*/

