.email-container {
    max-width: 400px;
    margin: 310px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align : center;
  }

.email-container h2{
    font-size : 16px;
    margin-bottom : 10px;
}

.email-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .email-container input {
    width: 100%;
    margin-top: 30px; padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .email-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .email-container button {
    width: 100%;
    padding: 10px;
    background-color: #001d6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .email-container button:hover {
    background-color: #0056b3;
  }
  
  .email-container button:active {
    background-color: #004494;
  }