/* Signup.css */

  .signup-container {
    max-width: 400px;
    margin: 23% auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .signup-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .signup-subtitle {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-field {
    margin-bottom: 15px;
  }
  
  .signup-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .signup-field input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-field input:focus {
    border-color: #001d6e;
    outline: none;
  }

  .email-field {
    margin-bottom: 15px;
  }
  
  .email-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .email-field input {
    width: 40%;
    padding: 9px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .email-field input:last-child{
    width: 43%;
  }
  
  .email-field span {
    font-size: 16px;
    margin: 0 6px;
  }
  
  .email-field input:focus {
    border-color: #001d6e;
    outline: none;
  }
  
  .btn-check {
    margin-top: 10px;
    background-color: #001d6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .btn-check:hover {
    background-color: #003399;
  }
  
  .valid-text {
    color: green;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .invalid-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .btn-submit {
    width: 100%;
    margin: 20px 0 ;
    background-color: #001d6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #003399;
  }
  
  .btn-toback {
    width: 20%;
    margin-top: 10px; margin-left: 290px;
    background-color: #001d6e;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .btn-toback:hover {
    background-color: #003399;
  }
