.mypage-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto; margin-bottom: 60px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

/* 탭 네비게이션 스타일 */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 15px 0;
    border: 1px solid transparent;
    background: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tabs button.active {
    color: #000000;
    transform: scale(1.1);
    /* 클릭 시 확대 효과 */
    font-size: 18px;
    /* 글씨 크기 조정 */
}

/* 박스 스타일 */
.vib-box {
    width: 90%;
    height: 108px;
    padding: 25px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.alert-box {
    background-color: #f9f9f9;
    height : 550px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pause-box {
    background-color: #001d6e;
    margin-top: 10px;
    padding: 25px;
    overflow: hidden;
    border-radius: 5px;
    width: 90%;
    height: 150px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.box h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.sub-box1 {
    background-color: #001d6e;
    width: 90%;
    height: 65px;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 25px 0 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sub-box1 p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub-box1 p>span {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-box2 {
    background-color: #001d6e;
    color: white;
    width: 90%;
    height: 105px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}

.row label {
    flex: 1;
    margin-right: 10px;
}

.row input {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pause-subox {
    background-color: #fff;
    width: 90%;
    height: 65px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

.sub-box3 {
    background-color: #001d6e;
    width: 90%;
    height: 129px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin-top: 10px;
}

.mini-box {
    display: inline-flex;
    height: 59px;
    padding: 11px 27px 12px 29px;
    margin : 24px 29px 46px 34px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}



.btn {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color: #003d8b;
}