@font-face {
  font-family: "Noto Sans KR";
  src: url('./fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

*{
  margin: 0; padding: 0;
  font-family: "Noto Sans KR" sans-serif;
  text-decoration: none;
  -ms-overflow-style: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none

} ::-webkit-scrollbar {
  display: none;
} 

.mobile-container {
  background-color: #f2f2f2;
  overflow-x: hidden;
  margin:0 auto;
  min-width: 412px;
  max-width: 600px;
  width: 600px;
  height: 100vh;
}

.mobile-container div {
  animation: fade-in 0.5s;
}

.fix-btn {
  display: none;
  padding: 10px;
  position: fixed;
  bottom: 70px; left: calc(100% - 840px)
}

.fix-btn:hover{
  cursor:pointer;
}

.container {
 margin-bottom: 100px;
}


/*Animations*/
@keyframes fade-in {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}
/*Animations*/